body {
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#calcBody {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
}

#calcScreen {
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    align-self: end;
    grid-column: span 4;
    padding-bottom: 10px;
    font-size: 20px;
}

button {
    border-radius: 10px;
    background-color: #fff;
    border-style: none;
    color: #3c4043;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    justify-self: stretch;
    margin: 10px;
    font-size: 20px;
}

button:hover {
    background: #F6F9FE;
}

button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
    /* border: 1px solid rgba(0, 0, 0, 0.255); */
}

#zero {
    grid-column: span 2;
}

.operand, #dot {
    background-color: rgba(0, 0, 255, 0.152);
}

.operator, #percent, #plusMinus {
    background-color: rgba(0, 128, 0, 0.152);
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}